@charset "UTF-8";

/* 回答はここに書いてね */

.q2_content {
  box-sizing: border-box;
  background: #eff3f4;
  width: 940px;
  padding: 20px;
  margin: 0 auto;
}

.q2_image_left {
  margin: 0 20px 10px 0;
  float: left;
}

.q2_text_top {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

.q2_image_right {
  margin: 0 0 10px 20px;
  float: right;
}

.q2_text_bottom {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

/* 回答はここに書いてね */
