@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q1_content {
  background-color: #eff3f4;
  box-sizing: border-box;
  width: 940px;
  padding: 20px;
  margin: auto;
}

.q1_content_unit {
  background: #3274ae;
  padding: 20px;
  float: left;
  margin-left: 20px;
}

.q1_content_unit:first-child{
  margin-left: 0;
}

.q1_content_text {
  box-sizing: border-box;
  width: 230px;
  background: #eaf4ff;
  border: 10px solid;
  border-color: #022336;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
}

/* 回答はここに書いてね */
